@model OnlineRadioStation.Domain.ListeningStatsVisitor

@{
    ViewData["Title"] = "Статистика сайту";
}

<h1>Загальна статистика</h1>
<p>Звіт, згенерований за допомогою патерну 'Visitor'.</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Загальна тривалість</div>
            <div class="card-body">
                <h1 class="card-title">@Model.TotalListenedMinutes</h1>
                <p class="card-text">хвилин контенту в базі (всі треки)</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Всього треків у плейлистах</div>
            <div class="card-body">
                <h1 class="card-title">@Model.TotalTracks</h1>
                <p class="card-text">всього треків додано до плейлистів</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Проведено DJ-сесій</div>
            <div class="card-body">
                <h1 class="card-title">@Model.TotalSessions</h1>
                <p class="card-text">зареєстровано стрімів від Діджеїв</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <h3>Обслуговування системи</h3>
    <div class="alert alert-secondary d-flex justify-content-between align-items-center">
        <span>Видалення фізичних файлів стрімів, запис про які відсутній у базі даних.</span>
        
        <form asp-action="CleanOrphanFiles" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-warning">
                Очистити файлове сміття
            </button>
        </form>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success mt-3">
            @TempData["Message"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger mt-3">
            @TempData["Error"]
        </div>
    }
</div>